{{#if isSecondary}}
    {{#foreach navigation}}
        <a class="btn btn-secondary btn-icon btn-sm btn-{{slug}} rounded-circle ms-3" href="{{url absolute="true"}}"><i class="ai-{{slug}}"></i></a> <!--- Cambiar al nuevo -->
    {{/foreach}}
{{else}}
    {{#if isHeader}}
        {{#foreach navigation}}
            <li class="nav-item"><a href="{{url absolute="true"}}" class="nav-link {{#if current}} active{{/if}}">{{label}}</a></li>
        {{/foreach}}
    {{/if}}
    {{#foreach navigation}}
        <a class="nav-link fw-normal py-0 px-3 {{#if current}} active{{/if}}" href="{{url absolute="true"}}">{{label}}</a> <!--- Cambiar al nuevo -->
    {{/foreach}}
{{/if}}