{{#if isSecondary}}
    {{#foreach navigation}}
        <a href="{{url absolute="true"}}" class="btn btn-icon btn-secondary btn-{{slug}} mx-2"> <!--- Footer Icons -->
            <i class="bx bxl-{{slug}}"></i>
        </a>
    {{/foreach}}
{{else}}
    {{#if isHeader}}
        {{#foreach navigation}}
            <li class="nav-item"><a href="{{url absolute="true"}}" class="nav-link {{#if current}} active{{/if}}">{{label}}</a></li> <!--- Header -->
        {{/foreach}}
    {{/if}}
    {{#foreach navigation}}
        <li class="nav-item"><a href="{{url absolute="true"}}" class="nav-link {{#if current}} active{{/if}}">{{label}}</a></li> <!--- Footer -->
    {{/foreach}}
{{/if}}