<!DOCTYPE html>
<html lang="{{@site.locale}}" class="dark-mode">
<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>

    <!-- SEO Meta Tags -->
    <meta name="description" content="Silicon - Multipurpose Technology Bootstrap Template">
    <meta name="keywords" content="bootstrap, business, creative agency, mobile app showcase, saas, fintech, finance, online courses, software, medical, conference landing, services, e-commerce, shopping cart, multipurpose, shop, ui kit, marketing, seo, landing, blog, portfolio, html5, css3, javascript, gallery, slider, touch, creative">
    <meta name="author" content="Createx Studio">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon and Touch Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor Styles -->
    <link rel="stylesheet" media="screen" href="assets/vendor/boxicons/css/boxicons.min.css"/>
    <link rel="stylesheet" media="screen" href="assets/vendor/swiper/swiper-bundle.min.css"/>

    <!-- Main Theme Styles + Bootstrap -->
    <link rel="stylesheet" media="screen" href="assets/css/theme.min.css">

    <!-- Custom styles / ver porque no funcionan-->
    <meta id="custom-background-color" data-background-color="{{@custom.background_color}}">
    <meta id="custom-body-color" data-body-color="{{@custom.body_color}}">

    <!-- Page loading styles -->
    <style>
        .page-loading {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-transition: all .4s .2s ease-in-out;
            transition: all .4s .2s ease-in-out;
            background-color: #fff;
            opacity: 0;
            visibility: hidden;
            z-index: 9999;
        }
        .dark-mode .page-loading {
            background-color: #0b0f19;
        }
        .page-loading.active {
            opacity: 1;
            visibility: visible;
        }
        .page-loading-inner {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            text-align: center;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            -webkit-transition: opacity .2s ease-in-out;
            transition: opacity .2s ease-in-out;
            opacity: 0;
        }
        .page-loading.active > .page-loading-inner {
            opacity: 1;
        }
        .page-loading-inner > span {
            display: block;
            font-size: 1rem;
            font-weight: normal;
            color: #9397ad;
        }
        .dark-mode .page-loading-inner > span {
            color: #fff;
            opacity: .6;
        }
        .page-spinner {
            display: inline-block;
            width: 2.75rem;
            height: 2.75rem;
            margin-bottom: .75rem;
            vertical-align: text-bottom;
            border: .15em solid #b4b7c9;
            border-right-color: transparent;
            border-radius: 50%;
            -webkit-animation: spinner .75s linear infinite;
            animation: spinner .75s linear infinite;
        }
        .dark-mode .page-spinner {
            border-color: rgba(255,255,255,.4);
            border-right-color: transparent;
        }
        @-webkit-keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
        @keyframes spinner {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        :root {
            --background-color: {{@custom.background_color}};
            --regular-font-color: {{@custom.body_color}};
            --heading-font-color: {{@custom.heading_color}};
        }
    </style>


    <!-- Page loading scripts -->
    <script>
        (function () {
            window.onload = function () {
                const preloader = document.querySelector('.page-loading');
                preloader.classList.remove('active');
                setTimeout(function () {
                    preloader.remove();
                }, 1000);
            };
        })();
    </script>

    {{ghost_head}}

</head>


<!-- Body -->
<body class="{{body_class}}">

<!-- Page loading spinner -->
<div class="page-loading active">
    <div class="page-loading-inner">
        <div class="page-spinner"></div><span>Loading...</span>
    </div>
</div>


<!-- Page wrapper for sticky footer -->
<!-- Wraps everything except footer to push footer to the bottom of the page if there is little content -->
<main class="page-wrapper">


    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header class="header navbar navbar-expand-lg navbar-dark position-absolute navbar-sticky">
        <div class="container px-3">
            <a href="{{@site.url}}" class="navbar-brand pe-3">
                {{#if @site.logo}}
                    <img src="{{@site.logo}}" alt="{{@site.title}}">
                {{/if}}
                {{@site.title}}
            </a>
            <div id="navbarNav" class="offcanvas offcanvas-end bg-dark">
                <div class="offcanvas-header border-bottom border-light">
                    <h5 class="offcanvas-title text-white">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="text-transform: capitalize">{{@custom.first_navigation_tag}}</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                {{#get "pages" filter="tag:{{@custom.first_navigation_tag}}" limit="all"}}
                                    {{#if pages.length}}
                                        {{#foreach pages}}
                                            <li><a href="{{url}}" class="dropdown-item">{{title}}</a></li>
                                        {{/foreach}}
                                    {{else}}
                                        <h6 class="dropdown-header washed">No {{@custom.first_navigation_tag}} found</h6>
                                    {{/if}}
                                {{/get}}
                            </ul>
                        </li>
                        {{> "navigation" isHeader=true}}
                        {{navigation}}
                    </ul>
                </div>
                <div class="offcanvas-header border-top border-light">
                    <a href="https://themes.getbootstrap.com/product/silicon-business-technology-template-ui-kit/" class="btn btn-primary w-100" target="_blank" rel="noopener">
                        <i class="bx bx-cart fs-4 lh-1 me-1"></i>
                        &nbsp;Buy now
                    </a>
                </div>
            </div>

            <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="https://themes.getbootstrap.com/product/silicon-business-technology-template-ui-kit/" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
                <i class="bx bx-cart fs-5 lh-1 me-1"></i>
                &nbsp;Buy now
            </a>
        </div>
    </header>




    {{{body}}}




    <!-- Footer -->
    <footer class="footer dark-mode bg-dark pt-5 pb-4 pb-lg-5">
        <div class="container text-center pt-lg-3">
            <a style="text-decoration: none;" href="{{@site.url}}">
                <div class="navbar-brand justify-content-center text-dark mb-1 mb-lg-1">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" class="me-2" width="60" alt="{{@site.title}}">
                    {{/if}}
                    <span class="fs-4">{{@site.title}}</span>
                </div>
            </a>
            <div class="d-flex flex-column flex-sm-row justify-content-center">
                <!-- <a href="#" class="btn btn-primary shadow-primary btn-lg me-sm-4 mb-3">Buy access pass</a> Example button -->
                <!-- <a href="#" class="btn btn-outline-light btn-lg mb-3"><i class="bx bx-calendar-check fs-xl me-2 ms-n1"></i>Add to calendar</a>  Example button -->
            </div>
            <ul class="nav justify-content-center pt-1 pb-1 pb-lg-1">
                {{navigation}}
            </ul>
            <div class="d-flex justify-content-center pt-1 mt-lg-1">
                {{navigation type="secondary"}}
            </div>
            <p class="nav d-block fs-sm text-center pt-2 mt-lg-2 mb-0">
                <span class="text-light opacity-50">{{@site.title}} &copy; {{date format="YYYY"}}.</span>
            </p>
        </div>
    </footer>


    <!-- Back to top button -->
    <a href="#top" class="btn-scroll-top" data-scroll>
        <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
        <i class="btn-scroll-top-icon bx bx-chevron-up"></i>
    </a>


    <!-- Vendor Scripts -->
    <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/vendor/rellax/rellax.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main Theme Script -->
    <script src="assets/js/theme.min.js"></script>

    {{ghost_foot}}
</body>
</html>